@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
:root {
    --primary: #d6325b;
    --primary-lighter: #ec577c;
    --primary-darker: #bd2249;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #292929;
}

header {
    background-color: var(--primary-darker);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    border-radius: 20px;
}

nav ul, .row-contact ul {
    list-style: none;
}

nav ul li, .row-contact ul li {
    display: inline-flex;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;

    width: 100%;
    height: 100%;
    padding: 10px 50px;
    border-radius: 20px;
    
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    background-color: var(--primary-lighter);
}

h1, h2 {
    margin: 0;
    text-align: center;
}

section, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    background: rgb(63, 166, 255);
    background: linear-gradient(
        0,
        rgba(231, 231, 231, 0.75) 0%,
        rgba(255, 255, 255, 0.9) 100%),
        url("https://images.unsplash.com/photo-1490093158370-1a6be674437b?w=1500&q=80");

    width: 100%;
    height: auto;
    min-height: 15rem;
    position: relative;
    box-sizing: border-box;
    
    padding-top: 8em;
    padding-bottom: 8rem;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about h1 {
    font-weight: 500;
    font-size: 4rem;
    margin: 0;
}

#about .button {
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}

#about .button:hover {
    background-color:  var(--primary-lighter);
}

@media (min-width: 1000px) {
    #about {
        height: 100vh;
    }
    #about h1 {
        font-weight: 500;
        font-size: 5.5rem;
    }
    #about .button {
        font-size: 1.3rem;
    }
}

#about h2 {
    font-style: italic;
    margin: 0 0 40px 0;
}

.button {
    color: white;
    text-decoration: none;
    background-color: var(--primary);
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
}

.section {
    padding: 8rem 0 2rem 0;
}

.section h2 {
    font-size: 3rem;
    margin: 0 0 3rem 0;
}

.card {
    width: 70%;
    padding: 10px;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .card {
        width: 90%
    }
}

@media (min-width: 3000px) {
    .card {
        width: 50%
    }
}

.mockup-container {
    min-width: 200px;
    max-width: 400px;
    margin-bottom: -10px;
    margin-right: -10px;
}

.mockup-img {
    width: 100%;
}

.card-content {
    width: auto;
    padding-left: 1rem;

    flex-basis: 0;
    flex-grow: 1;
}

.card-content p {
    line-height: 1.5rem;
}


@media (min-width: 500px) {
    .card-content {
        min-width: 350px;
    }
}

.project-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.card-buttons a {
    color: white;
    text-decoration: none;
    
    padding: 1rem 1.5rem;
    margin-right: 10px;

    border-radius: 5px;
    
    transition: all 0.3s ease 0s;
}

.demo-button {
    background-color: var(--primary);
}

.demo-button:hover {
    background-color: var(--primary-lighter);
}

.source-button {
    background-color: #292929;
}

.source-button:hover {
    background-color: #555555;
}

.technologies-pills {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .technologies-pills {
        justify-content: space-around;
    }
}

.pill {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;

    border-radius: 1rem;
    border: none;

    cursor: default;
}

.pill-html5{
    background-color: rgb(255, 108, 41);
}

.pill-css3 {
    background-color: #18b9ff;
}

.pill-js {
    background-color: #ebd300;
    color:#292929
}
.pill-sass {
    background-color: #fd50a6;
}
#skills, #contact {
    background-color: var(--primary);
    color: white;
}

#skills h3 {
    font-size: 2rem;
    margin: 0 0 3rem 0;
}

.row-skills, .row-contact{
    /* border: green solid 10px; */
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill {
    width: 100%;
    max-width: 100%;

    padding: 0 20px;
    margin: 0 0 3.5rem 0;

    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-icon img {
    width: 7rem;
    margin: 0 0 1rem 0;
    /* The following lines overrides the original color of the svg to white */
    filter: invert(96%) sepia(7%) saturate(450%) hue-rotate(211deg) brightness(126%) contrast(100%);
}

@media (max-width:786px) {
    .skill-icon img {
        width: 5rem;
    }
    .row-skills {
        width: 90%;
    }
}

.skill span {
    font-weight: bold;
    font-size: 1.7rem;
}

#javascript-icon, #typescript-icon {
    border-radius: 15%;
}

.row-contact ul  {
    width: 80%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.row-contact ul li  {
    background-color: white;
    padding: 1.3rem;
    border-radius: 50%;
    line-height: 2rem;
    margin: 5px;

    transition: all 0.3s ease 0s;
}
.row-contact ul li:hover  {
    background-color: #f0aebf;
    cursor: pointer;
}

.row-contact ul li a {
    font-size: 2.7rem;
    font-weight: 500;
    color: var(--primary-darker);
    text-decoration: none; 
}

footer {
    padding: 3rem 0;
}