@use "colors"as color;
@use "nav"as *; // Nav bar and hamburger button


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Roboto", sans-serif;
    color: color.$dark;
}

h1,
h2 {
    text-align: center;
}

section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin button ($background-color: color.$primary, $color: white) {
    background-color: $background-color;
    color: $color;
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: #222222aa 0px 2px 5px;

    &:hover {
        @include color.hover-lighter-color($background-color, $color);

        @if ($background-color==color.$primary) {
            background-color: color.$primary-lighter;
        }
    }
}

.button {
    @include button(color.$primary, white);
}

.button:hover {
    background-color: color.$primary-lighter;
}

.section {
    padding: 6rem 0 2rem 0;
}

.section h2 {
    font-size: 3rem;
    margin: 0 0 3rem 0;
}

#skills,
#contact {
    background-color: color.$primary;
    color: white;
}

/*
 *  ABOUT
 */

#about {
    background: rgb(63, 166, 255);
    background: linear-gradient(0,
            rgba(231, 231, 231, 0.75) 0%,
            rgba(255, 255, 255, 0.9) 100%),
        url("https://images.unsplash.com/photo-1490093158370-1a6be674437b?w=1500&q=80");

    width: 100%;
    height: 100vh;
    min-height: 15rem;
    position: relative;
    box-sizing: border-box;

    padding-top: 8em;
    padding-bottom: 8rem;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about h1 {
    font-size: 5.5rem;
    line-height: 4.5rem;
}

#about h2 {
    margin: 30px 0;
}

#about .button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease 0s;
}

@media (max-width: 1000px) {
    #about {
        height: auto;
    }

    #about h1 {
        font-size: 4rem;
    }

    #about .button {
        font-size: 1.25em;
    }
}

@media (max-height: 750px) {
    .section {
        padding-top: 2rem;
    }

    .section h2 {
        margin: 0 0 3rem 0;
    }
}

/*
 *  SKILLS
 */

#skills h3 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}

.row-skills,
.row-contact {
    // border: green solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    width: 100%;
    max-width: 100%;

    padding: 0 20px;
    margin-bottom: 1.5rem;

    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-icon {
    width: 6rem;
    margin-bottom: 0.5rem;
    user-select: none;
    filter: color.$filter-white; // Override the color of the SVG
}

.skill span {
    font-weight: bold;
    font-size: 1.5rem;
    width: 8rem;
    cursor: default;
}


@media (max-width:550px),
(max-height:700px) {

    #skills h2,
    #skills h3 {
        margin-bottom: 1rem;
    }

    .skill {
        margin-bottom: 2rem;
        padding: 0 5px;
    }

    .skill-icon {
        width: 4.5rem;
    }

    .skill span {
        font-weight: bold;
        font-size: 1.25rem;
        width: 6rem;
    }
}

#javascript-icon,
#typescript-icon {
    border-radius: 15%;
}

/*
 *  PROJECTS
 */

.card {
    width: 70%;
    padding: 10px;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .card {
        width: 90%;
        padding: 5px;
    }
}

@media (max-width: 550px) {
    .card {
        width: 99%;
    }
}

@media (min-width: 3000px) {
    .card {
        width: 50%;
    }
}

.mockup-container {
    min-width: 200px;
    max-width: 450px;
    margin-bottom: -10px;
    margin-right: -10px;
    flex-grow: 1;
}

.mockup-img {
    width: 100%;
    margin-bottom: -50px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: auto;
    min-width: 350px;
    padding-left: 1rem;

    flex-basis: 0;
    flex-grow: 3;
}

.card-content p {
    line-height: 1.5rem;
}

.project-title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    width: 100%;
}

.card-buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.card-buttons a {
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    margin-right: 10px;

    transition: all 0.3s ease 0s;
}

.demo-button {
    @extend .button;
}

.source-button {
    @include button(color.$dark, white);
}

.technologies-pills {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.technology-pill {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;
    user-select: none;

    border-radius: 1rem;
    border: none;

    transition: background-color 0.25s;

    cursor: default;
}

@mixin technology-pill ($background-color: white, $color: black) {
    @extend .technology-pill;
    background-color: $background-color;
    color: $color;
    &:hover {
        @include color.hover-lighter-color($background-color, $color);
    }
}

.pill-html5 {
    @include technology-pill(color.$html5, white);
}

.pill-css3 {
    @include technology-pill(color.$css3, white);
}

.pill-sass {
    @include technology-pill(color.$sass, white);
}

.pill-js {
    @include technology-pill(color.$javascript, color.$dark);
}

.pill-ts {
    @include technology-pill(color.$typescript, white);
}

.pill-api {
    @include technology-pill(color.$api, white);
}

.pill-jest {
    @include technology-pill(color.$jest, white);
}

@media (max-width: 888px) {
    .card {
        margin-bottom: 5rem;
    }

    .mockup-container {
        margin-right: 0;
    }

    .mockup-img {
        margin-bottom: -20px;
    }

    .card-content {
        padding: 0 10px;
    }

    .technologies-pills {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .card-content {
        align-items: center;
    }

    .technologies-pills {
        justify-content: space-around;
    }
}

/*
 *  CONTACT
 */


#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    width: min(650px, 95%);

    * {
        width: 100%;
    }

    label {
        font-size: 1.25rem;
        padding-left: 5px;
    }
}

#contact-email {
    display: inline-block;

    min-width: 100px;
    height: 2.5rem;
    padding: 0.375rem 1rem;
    margin: 0.5rem 0;

    color: #78828d;
    background-color: white;
    background-clip: padding-box;

    box-shadow: 0px 2px 3px #7e3d40;

    font-size: 1.25rem;
    font-family: inherit;

    border: 1px solid #ced4da;
    border-radius: 1rem;

    flex-grow: 1;

    transition: 0.3s;

    &:focus {
        color: #444;
        border-color: #9ac9fc;
        outline: 0;
        box-shadow: 0 1px 5px 5px color.$primary-lighter;
    }

}

#contact-message {

    resize: none;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;

    min-height: 10rem;

    color: #78828d;
    background-color: white;
    background-clip: padding-box;


    box-shadow: 0px 2px 3px #7e3d40;

    font-size: 1.25rem;
    font-family: inherit;

    border: 1px solid #ced4da;
    border-radius: 1rem;

    flex-grow: 1;

    transition: 0.3s;

    &:focus {
        color: #444;
        border-color: #9ac9fc;
        outline: 0;
        box-shadow: 0 1px 5px 5px color.$primary-lighter;
    }

}

#contact-submit {
    @include button(white, #222);

    padding: 0.75rem 1rem;
    line-height: 2rem;
    margin: 5px;
    margin-top: 1rem;
    max-width: 180px;

    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.25s ease 0s;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #333;
        color: white;
        cursor: pointer;
    }

    i {
        font-size: 1.75rem;
        margin-right: 10px;
        pointer-events: none;
        width: auto !important;
    }
}

@media screen and (max-width: 500px) {
    #contact h2 {
        font-size: 2.75rem;
    }

    #contact-form {
        label {
            font-size: 1.5rem;
        }
    }

    #contact-email {
        height: 3.5rem;
    }

    #contact-submit {
        padding: 1rem 1rem;
    }
}

.row-contact {
    width: min(100%, 500px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    list-style: none;

    a {
        @include button (white, #222);
        padding: 1rem;
        line-height: 2rem;
        margin: 5px;

        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.25s ease 0s;

        display: flex;

        i {
            font-size: 2rem;
            margin-right: 15px;
            pointer-events: none;
        }
    }

    a:hover {
        background-color: #333;
        color: white;
        cursor: pointer;
    }
}

footer {
    padding: 2rem 0 6rem;
    color: #666;
}

#back-to-top-button {
    @extend .button;
    // @include button (color.$dark);

    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 1;

    padding: 1rem 1.2rem;
    border-radius: 50%;

    font-size: 1.25rem;
}